body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
}

h2 {
  font-size: 26px;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 22px;
  font-size: 16px;
  font-weight: 300;
}

body {
  background: #ffffff;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



